include ../templates.jade
doctype html
html(lang="en")
    +_head("Admin Panel")
    body
        #site_strip
            +_header(loggedin, user)
            main
                +_admin()
                section.content
                    h2 Add Lesson
                    form(action="/admin/lessons/addlesson" method="POST")
                        h3 Title
                        input(type="text" name="name")

                        h3 Markdown Description
                        textarea(name="markdown" style="height: 200px;")

                        h3 Image Link
                        input(type="text" name="image_link")

                        h3 Video Link
                        input(type="text" name="video_link")

                        h3 Code
                        input(type="text" name="code")

                        input(type="submit" value="Add Lesson")
            +_footer()
    script(src="/lib/markdown.js")
    script(src="/lib/lesson-preview.js")