include ../templates.jade
doctype html
html(lang="en")
    +_head("Admin Panel")
    body
        #site_strip
            +_header(loggedin, user)
            main
                +_admin()
                section.content
                    h2 Edit #{page.name}
                    form(action="/admin/#{page.name}" method="POST")
                        h3 Markdown
                        textarea(name="markdown" style="height: 200px;" id="input") #{page.markdown}
                        h3 Preview
                        div#preview
                        input(type="submit" value="Update")
            +_footer()
    script(src="/lib/markdown.js")
    script(src="/lib/preview.js")
