include ./templates.jade

doctype html
html(lang="en")
	+_head("About")
	body
		#site_strip
			+_header(loggedin, user)
			main
				h1(class="page_title") #{content.name}
				section(style="margin: 0px 40px;")
					span !{content.html}
			+_footer