header
	a(id="logo" href="index")
		img(src="images/sigsaclogo.png")
nav
	a(class="page_link current_page" href="index") home
	a(class="page_link" href="about") about
	#login
		a(class="page_link" id="signup" href="signin") signin/
		a(class="page_link" id="signup" href="signup") signup