include ./templates.jade

doctype html
html(lang="en")
	+_head("Login")
	body
		#site_strip
			+_header()
			main
				section#signin_box
					h1 Login
					section#signin_bottom
						form(action="/login" method="POST")
							label Email or Username:
							input(type="text" id="login-field" autofocus="autofocus" name="email")

							label Password:
							input(type="password" id="password" name="password")

							if flash != ""
								span.flash #{flash}

							div#button_div
								input(type="submit" value="Submit")
			+_footer()