include ./templates.jade
doctype html
html(lang="en")
    +_head("Resources")
    body
        #site_strip
            +_header(loggedin, user)
            main
                h1(class="page_title") Resources
                +_resources_sidebar(resources)
                section(style="float: left; padding: 0 2.5%; width: 74%;")
                    h2 #{content.title}
                    span !{content.html}
            +_footer()