include ./templates.jade
doctype html
html(lang="en")
    +_head("Sign up")
    body
        #site_strip
            +_header(loggedin)
            main
                section#signin_box
                    h1 Sign up
                    section#signin_bottom
                        form(action="/signup" method="POST")
                            label Username:
                            input(type="text" name="handle")

                            label Email:
                            input(type="text" name="email")

                            label Password:
                            input(type="password" name="password")

                            label First Name:
                            input(type="text" name="firstname")

                            label Last Name:
                            input(type="text" name="lastname")

                            label Phone Number:
                            input(type="text" name="phone")

                            if flash
                                span.flash #{flash}

                            div#button_div
                                input(type="submit" value="Submit")
            +_footer()