mixin head(name)
	head
		meta(charset="UTF-8")
		title= "SIGSAC | " + name
		link(rel="stylesheet" type="text/css" href="css/site.css")

mixin header(leftSites, rightSites)
	header
		a(id="logo" href="index")
			img(src="images/sigsaclogo.png")
	nav
		a(class="page_link current_page" href="index") home
		a(class="page_link" href="about") about
		#login
			a(class="page_link" id="signup" href="signin") signin/
			a(class="page_link" id="signup" href="signup") signup

mixin footer()
	footer
		#footer_images
			a(href="http://www.usma.edu/")
				img(src="http://www.usma.edu/Style%20Library/WestPoint/Images/wpLogo102.png")
			a(href="http://www.sigsac.org/")
				img(src="http://www.sigsac.org/ccs/CCS2014/images/acm_logo.jpg")